<footer class="site-footer">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <!-- Description -->
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>

      <!-- HKU Logo - Wrapped in an <a> tag -->
      <div class="footer-col footer-col-2 footer-logo-container">
        <a href="https://www.psychiatry.hku.hk/" target="_blank" rel="noopener noreferrer">
          <img src="{{ site.baseurl }}/images/psychiatry.png" alt="HKU Logo" class="footer-logo">
        </a>
      </div>
    </div>

  </div>
</footer>
